
nav span, #page{
    margin-left: 1%;
}
.backbtn, .addbtn{
    margin-right: 1%;
}
.form-inputs, .form-date{
    max-width: 300px;
}
.form-btn{
    max-width:150px;
    margin-bottom: 10px;
}
.form-group{
   margin-bottom: 15px;
}
#map{
    width: 100%;
    height: 300px;
    max-width: 500px;
}
#select{
    min-height: 35px;
}
.dont-display{
    display: none;
}
